@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: underline;
  color: #6A6667; }

a:visited {
  color: #AFAFA8; }

a:hover, a:active {
  color: black; }

.benefits {
  padding-bottom: 5%; }

.container-n {
  max-width: 1000px;
  margin: auto auto;
  display: flex;
  justify-content: center; }
  .container-n--fluid {
    margin: 0;
    max-width: 100%; }
  .container-n__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container-n__col-sm-1 {
    flex-basis: 8.33333%;
    display: flex; }
  .container-n__col-sm-2 {
    flex-basis: 16.66667%;
    display: flex; }
  .container-n__col-sm-3 {
    flex-basis: 25%;
    display: flex; }
  .container-n__col-sm-4 {
    flex-basis: 33.33333%;
    display: flex; }
  .container-n__col-sm-5 {
    flex-basis: 41.66667%;
    display: flex; }
  .container-n__col-sm-6 {
    flex-basis: 50%;
    display: flex; }
  .container-n__col-sm-7 {
    flex-basis: 58.33333%;
    display: flex; }
  .container-n__col-sm-8 {
    flex-basis: 66.66667%;
    display: flex; }
  .container-n__col-sm-9 {
    flex-basis: 75%;
    display: flex; }
  .container-n__col-sm-10 {
    flex-basis: 83.33333%;
    display: flex; }
  .container-n__col-sm-11 {
    flex-basis: 91.66667%;
    display: flex; }
  .container-n__col-sm-12 {
    flex-basis: 100%;
    display: flex; }
  @media screen and (min-width: 1000px) {
    .container-n__col-md-1 {
      flex-basis: 8.33333%;
      display: flex; }
    .container-n__col-md-2 {
      flex-basis: 16.66667%;
      display: flex; }
    .container-n__col-md-3 {
      flex-basis: 25%;
      display: flex; }
    .container-n__col-md-4 {
      flex-basis: 33.33333%;
      display: flex; }
    .container-n__col-md-5 {
      flex-basis: 41.66667%;
      display: flex; }
    .container-n__col-md-6 {
      flex-basis: 50%;
      display: flex; }
    .container-n__col-md-7 {
      flex-basis: 58.33333%;
      display: flex; }
    .container-n__col-md-8 {
      flex-basis: 66.66667%;
      display: flex; }
    .container-n__col-md-9 {
      flex-basis: 75%;
      display: flex; }
    .container-n__col-md-10 {
      flex-basis: 83.33333%;
      display: flex; }
    .container-n__col-md-11 {
      flex-basis: 91.66667%;
      display: flex; }
    .container-n__col-md-12 {
      flex-basis: 100%;
      display: flex; } }

.cta {
  font-family: "Bowlby One SC", cursive;
  color: #53585F; }

.flex-center {
  display: flex;
  justify-content: center; }

.footer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: "Gloria Hallelujah", cursive; }

.footer-item {
  padding: 0.5rem 2rem;
  font-family: "Gloria Hallelujah", cursive; }

.footer-pic-size {
  max-height: 6%; }

.hand-written {
  font-family: "Gloria Hallelujah", cursive; }

.menu-container {
  width: 100%;
  font-family: "Gloria Hallelujah", cursive;
  padding: 20px 0; }
  .menu-container__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%; }

.menu-item {
  display: flex;
  align-items: flex-start; }

.logo-padding {
  padding-left: 20px; }

.logo-size {
  max-height: 45px;
  max-width: 45px;
  border-radius: 30px; }

.hero {
  width: 100%;
  display: flex;
  justify-content: center; }

.hero-heading {
  padding-top: 10%;
  font-size: 90px;
  font-family: "Bowlby One SC", cursive;
  justify-content: center; }

.hero-subheading {
  font-family: "Raleway", sans-serif;
  justify-content: center; }

.signup-card-size {
  max-height: 40vh; }

.scrolldown-card {
  padding-top: 15%;
  display: flex;
  justify-content: center; }

.scrolldown-card__size {
  max-height: 20vh; }

.wrapper {
  height: 100vh; }

/*# sourceMappingURL=main.css.map */
