
@font-face {
    font-family: 'adysbold';
    src: url('../fonts/adys-bold_v5-webfont.woff2') format('woff2'),
         url('../fonts/adys-bold_v5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adysregular';
    src: url('../fonts/adys-regular_v5-webfont.woff2') format('woff2'),
         url('../fonts/adys-regular_v5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::selection {
    background: rgba(144, 19, 254, .3);
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'adysregular';
    font-size: 16px;
}

.sa-container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.sa-header {
    margin-top: 25px;
}

.sa-sign-up {
    margin-top: 60px;
    position: relative;
}

.sa-sign-up img {
    position: absolute;
}

h2 {
    font-family: adysbold;
    font-size: 26px;
    color: #0A0B09;
    max-width: 388px;
    margin: 0 auto;
    line-height: 1.25;
}

.sa-ill-flying {
    top: 0;
    left: 50px;
}

.sa-ill-rumor {
    top: 120px;
    right: 20px;
}

.sa-email-label {
    font-size: 18px;
    color: #0C0D0D;
    display: block;
    max-width: 480px;
    text-align: left;
    margin: 40px auto 10px auto;
}

.sa-email-input {
    width: 100%;
    max-width: 480px;
    height: 71px;
    box-sizing: border-box;
    background: url('../img/input-bg.svg');
    background-size: cover;
    overflow: visible;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: adysregular;
    line-height: 1;
}

.sa-email-input:focus {
    outline: none;
    background: url('../img/input-bg-focus.svg');
    background-size: cover;
}

.sa-email-button {
    background: url('../img/button-bg.svg');
    background-size: cover;
    border: none;
    width: 190px;
    height: 64px;
    margin-top: 30px;
    font-family: adysbold;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    transition: 0.2s;
    transform: scale(1);
}

.sa-email-button:hover {
    cursor: pointer;
    filter: grayscale(20%);
}

.sa-email-button:focus {
    outline: none;
    transform: scale(1);
}

.sa-email-button:active {
    transform: scale(0.85);
}

.sa-info {
    margin-top: 80px;
}

.sa-info p {
    max-width: 620px;
    margin: 0 auto;
    font-family: adysregular;
    font-size: 16px;
    color: #0A0B09;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
}

.sa-info p a {
    color: #9013FE;
}

.sa-partners-container {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
}

.sa-partners-container img {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

.sa-partners-container span {
    display: block;
    font-family: adysbold;
    margin-bottom: 15px;
}

.sa-partners-vk {
    margin-left: 120px;
}

.title-holder-bg::before {
    content: 'Bulgaria';
    display: block;
    position: absolute;

}

footer {
    text-align: left;
    padding: 50px 0px 100px 0px;
}

.sa-footer-wordmark {
    float: right;
}


@media screen and (max-width: 1024px) {

body {
    padding: 20px;
}

.sa-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sa-ill-flying,
.sa-ill-rumor {
    display: none;
}

.sa-email-input,
.sa-email-input:focus {
    width: 100%;
    background-size: 100% 100%;
}
.sa-email-label {
    margin-bottom: 5px;
}

.sa-info {
    margin-top: 20px;
}

.sa-info img[src="img/divider.svg"] {
    width: 100%;
}

.sa-info p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.sa-partners-container  {
    display: block;
}

.sa-partners-container img {
    margin-right: 20px;
    margin-top: 20px;
}

.sa-partners-vk {
    margin-left: 0;
    text-align: left!important;
}

.sa-footer-wordmark {
    float: none;
    display: block;
}

footer {
    text-align: center;
}

}









