@import "partials/variables",
		"partials/mixins";

//@font-face {
//	font-family: "baconfarm";
//	src: url('baconfarm.woff') format('woff'),
//		 url('baconfarm.ttf') format ('truetype');
//}

@include google-font('Bowlby+One+SC');
@include google-font('Gloria+Hallelujah');
@include google-font('Raleway');

html, body {
	height: 100%;
	width: 100%;
}

.section {
	display: block;
	position: relative;
	float: none;
}

.white {
	height: 100%;
}

.green {
	height: 100%;
	background-color: $theme-color;
}

.header {
	max-height: $header-height;
}

.hero-heading {
	font-size: 90px;
	font-family: $headline-font;
	margin-left: 10%;
	margin-right: 10%;
}

body {
	margin-left: auto;
	margin-right: auto;
 
}

.full-height {
	height: 100%;
}

.nav {
	display: inline;
	font-family: $hand-written;
	padding: 2%;
	width: 90%;
}

h1, h2 h4 {
 font-family: $headline-font;

}

h3 {
 font-family: $text-font;
}

.hand {
	font-family: $hand-written;
}

.readable {
	font-family: $text-font;
 	
}

p {

}

a {

}

#header {

}

#main-menu {
	li {

	}

	a {

	}
}

