
<hr/>
<div class="menu-container">
	<div class="menu-container__row flex-center">
		<!--<div class="menu-item container-n__col-sm-12 container-n__col-md-12 flex-center"><img src="{{site.baseurl}}/assets/img/footer-line1.png"></div>-->
		<div class="menu-item container-n__col-sm-12 container-n__col-md-4 flex-center">© 2017 Squirrel Attack!</div>
		<div class="menu-item container-n__col-sm-12 container-n__col-md-4 flex-center"><img src="{{site.baseurl}}/assets/img/squirrel-love-sa-website.png" class="footer-pic-size"></div>
		<div class="menu-item container-n__col-sm-12 container-n__col-md-4 flex-center">Squirrels Don't Attack Squirrels!</div>
	</div>
</div>