<div class="wrapper"> 
<!-- used to have class="center-vertically" -->
<div class="container-n flex-center">
		<div class="container-n__row flex-center">
			<!-- <div class="container-n__col-sm-10 container-n__col-md-12"><img src="{{site.baseurl}}/assets/img/sa-fb-profile-pic.png" class="logo"></div> -->
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-5 hero-subheading"><img src="{{site.baseurl}}/assets/img/arrow-down4.png" class="scrolldown-card__size flex-center margin-top-10 vertical-space"></div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 internal-heading-small mobile-space-humankind">HUMANKIND IS DESPERATE</div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 hero-subheading"><img src="{{site.baseurl}}/assets/img/arrow-down2.png" class="scrolldown-card__size flex-center margin-top-10 vertical-space"></div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center flex-center margin-top-10 internal-heading-small">SQUIRRELS ARE OUTRAGED</div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 hero-subheading"><img src="{{site.baseurl}}/assets/img/arrow-down3.png" class="scrolldown-card__size flex-center margin-top-10 vertical-space"></div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 internal-heading-small">SOMEBODY NEEDS TO END THIS MADNESS</div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 hero-subheading"><img src="{{site.baseurl}}/assets/img/arrow-down4.png" class="scrolldown-card__size flex-center vertical-space"></div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 internal-heading-small">SAVE HUMANKIND</div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 hero-subheading"><img src="{{site.baseurl}}/assets/img/arrow-down3.png" class="scrolldown-card__size flex-center margin-top-10 vertical-space"></div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 internal-heading-small">AND LEAD THE SQUIRREL TECH REVOLUTION</div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 hero-subheading"><img src="{{site.baseurl}}/assets/img/arrow-down2.png" class="scrolldown-card__size flex-center margin-top-10 vertical-space"></div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 internal-heading-small">WILL YOU MANAGE?</div>
			<div class="container-n__col-sm-10 container-n__col-md-12 flex-center margin-top-10 hero-subheading"><img src="{{site.baseurl}}/assets/img/arrow-down5.png" class="scrolldown-card__size flex-center margin-top-10 margin-bottom-10 vertical-space"></div>
		</div>
	</div>

<div class="container-n">
	<div class="container-n__row">
		<!-- FIRST COLUMN -->
		<div class="container-n__col-sm-12 container-n__col-md-4 flex-center"><img src="{{site.baseurl}}/assets/img/signup - sa -website.png" class="signup-card-size"></div>
		<!-- END OF FIRST COLUMN -->

		<!-- SECOND COLUMN -->
		<!-- Begin MailChimp Signup Form -->
		<div class="container-n__col-sm-9 container-n__col-md-4 flex-center signup-card-size subscribe-background">
			
				<div id="mc_embed_signup">
					<form action="//facebook.us16.list-manage.com/subscribe/post?u=dbadf4b4f7dbcacd171499525&amp;id=8ee7be8888" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-background container-n__col-sm-7 container-n__col-md-4 flex-center" target="_blank" novalidate>
    					<div id="mc_embed_signup_scroll" class="margin-bottom-10">
    						<div class="internal-heading-small flex-center">STEP ONE:</div>
							<label for="mce-EMAIL" class="internal-heading flex-center">SUBSCRIBE</label>
				
							<div class="flex-center margin-top-10">
							<input type="email" value="" name="EMAIL" class="email subscribe-field" id="mce-EMAIL" placeholder="your@email.com : )" required>
							</div>
    						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dbadf4b4f7dbcacd171499525_8ee7be8888" tabindex="-1" value=""></div>

    						<div class="container-n__col-sm-7 container-n__col-md-12 flex-center">
    							<div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button subscribe-button"></div>
    						</div>
    								<!--
    								<div class="darker-grey flex-center internal-heading-small margin-top-10">- TEST THE GAME DURING OUR EUROPEAN TOUR</div>
									<div class="darker-grey flex-center internal-heading-small margin-top-10">- DATES AND CITIES ANNOUNCED SOON</div>
									<div class=" darker-grey flex-center internal-heading-small margin-top-10">- FOLLOW OUR UPCOMING KICKSTARTER</div>
									<div class="darker-grey flex-center internal-heading-small margin-top-10 margin-bottom-10">- READ THE "HOW TO MAKE A CARD GAME" BLOG</div>-->
						</div>

			</form>
		</div>
		</div>

<!--End mc_embed_signup-->
		<!-- END OF SECOND COLUMN -->

		<!-- THIRD COLUMN -->
		<div class="container-n__col-sm-7 container-n__col-md-3 flex-center signup-card-size-3">
			<div>
				<div class="internal-heading-small flex-center">STEP TWO:</div>
				<div class="internal-heading flex-center">TAKE THE GAME TOUR:</div>
				<div class="benefits"><a href="{{site.baseurl}}/rules.html" class="orange">START WITH "HOW TO PLAY"</a></div>
			</div>
		</div>
		<!-- END OF THIRD COLUMN -->
	</div>
</div>
</div>