<div> <!-- used to have class="center-vertically" -->
<div class="container-n">
	<div class="container-n__row">
		<div class="container-n__col-sm-12 container-n__col-md-12 flex-center"><img src="{{site.baseurl}}/assets/img/arrow-down2.png" class="scrolldown-card__size flex-center vertical-space"></div>
	</div>
</div>
<div class="container-n">
	<div class="container-n__row">
		<div class="container-n__col-sm-12 container-n__col-md-12 flex-center"><img src="{{site.baseurl}}/assets/img/arrow-down3.png" class="scrolldown-card__size flex-center vertical-space"></div>
	</div>
</div>
<div class="container-n">
	<div class="container-n__row">
		<div class="container-n__col-sm-12 container-n__col-md-12 flex-center"><img src="{{site.baseurl}}/assets/img/arrow-down4.png" class="scrolldown-card__size flex-center vertical-space"></div>
	</div>
</div>
<div class="container-n">
	<div class="container-n__row">
		<div class="container-n__col-sm-12 container-n__col-md-12 flex-center"><img src="{{site.baseurl}}/assets/img/arrow-down5.png" class="scrolldown-card__size flex-center vertical-space"></div>
	</div>
</div>
<div class="container-n">
	<div class="container-n__row">
		<!-- FIRST COLUMN -->
		<div class="container-n__col-sm-12 container-n__col-md-4 flex-center"><img src="{{site.baseurl}}/assets/img/signup - sa -website.png" class="signup-card-size"></div>
		<!-- END OF FIRST COLUMN -->

		<!-- SECOND COLUMN -->
		<div class="container-n__col-sm-12 container-n__col-md-4 flex-center">
			<div class="mailchimp" style="background:#ffae42">
				<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div><!-- id="mc_embed_signup" -->
					<form action="//facebook.us16.list-manage.com/subscribe/post?u=dbadf4b4f7dbcacd171499525&amp;id=8ee7be8888" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="scroll-down" class="internal-heading">SUBSCRIBE</div>
						<label for="mce-EMAIL" class="hand-written">Email Address
						</label>
						<input type="email" value="my@email.com" name="EMAIL" class="required email" id="mce-EMAIL">
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dbadf4b4f7dbcacd171499525_8ee7be8888" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" ></div>
					</form>
				</div>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<!--End mc_embed_signup-->
			</div>
		</div>
		<!-- END OF SECOND COLUMN -->

		<!-- THIRD COLUMN -->
		<div class="container-n__col-sm-12 container-n__col-md-4 flex-center">
			<div>
				<div class="internal-heading">WHY SUBSCRIBE?</div>
				<div class="benefits">- Join tests & tournaments</div>
				<div class="benefits">- Get updated about our Kickstarter</div>
				<div class="benefits">- Read the <strong>"How to make a card game"</strong> blog posts</div>
				<div class="benefits">- Co-create Squirrel Attack with us</div>
			</div>
		</div>
		<!-- END OF THIRD COLUMN -->
	</div>
</div>
</div>