// === COLOURS ===
$text-color: #AFAFA8;
$theme-color: #669A0F;
$menu-item-color: #6A6667;

// === SIZES ===
$content-width: 70%;
$header-height: 7%;
$footer-height: 20%;

// === FONTS ===
$hand-written: 'Gloria Hallelujah', cursive;
$text-font: 'Raleway', sans-serif;
$headline-font: 'Bowlby One SC', cursive;

