// === COLOURS ===
$black: black;  //used to be text-color ->nice light grey #AFAFA8
$darker-grey: #6A6667; //used to be theme-color #53585F
$light-grey: #AFAFA8; //used to be menu-item-color

// === SIZES ===
$content-width: 70%;
$header-height: 7%;
$footer-height: 20%;

// === FONTS ===
$hand-written: 'Gloria Hallelujah', cursive;
$text-font: 'Raleway', sans-serif;
$headline-font: 'Bowlby One SC', cursive;
$internal-font: 'Work Sans', sans-serif;

