@import "partials/variables",
		"partials/mixins";

//@font-face {
//	font-family: "baconfarm";
//	src: url('baconfarm.woff') format('woff'),
//		 url('baconfarm.ttf') format ('truetype');
//}

@include google-font('Bowlby+One+SC');
@include google-font('Gloria+Hallelujah');
@include google-font('Raleway');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
	text-decoration: underline;
	color: $light-grey;
}

a:visited {
	color: $light-grey;
}

a:hover, a:active {
	color: $black;
}

.benefits {
	font-family: $hand-written;
	font-size: 1rem;
	line-height: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $darker-grey;
}

$grid__bp-md: 1000;
$grid__cols: 12;

.container-n {
	max-width: $grid__bp-md * 1px;
	margin: 0 auto;
	display: flex;
	justify-content: center;

	&--fluid {
		margin: 0;
		max-width: 100%;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

	}
	@for $i from 1 through $grid__cols {
	&__col-sm-#{$i} {
		flex-basis: ((100/$grid__cols) * $i) * 1%;
		display: flex;
	}
}
	@media screen and (min-width: $grid__bp-md * 1px) {
		@for $i from 1 through $grid__cols {
			&__col-md-#{$i} {
				flex-basis: ((100/$grid__cols) * $i) * 1%;
				display: flex;
			}
		}
	}
}

.cta {
	font-family: $headline-font;
	color: #53585F;
}

.center-vertically {
	margin-top: 20%;
}

.internal-heading {
	font-size: 1.5rem;
	font-family: $headline-font;
}

.internal-copy {
	font-family: $hand-written;
	font-size: 1.5rem;
	line-height: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $darker-grey;

}

.flex-center {
	display: flex;
	justify-content:center;
}

.footer {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	font-family: $hand-written;
}

.footer-item {
	padding: 0.5rem 2rem;
	font-family: $hand-written;
}

.footer-pic-size {
	max-height: 6%;
}


.hand-written {
	font-family: $hand-written;
}

.hero {
	width: 100%;
	display: flex;
	// lex-wrap: wrap;
	justify-content:center;
	//align-content: center;

}

.hero-heading {
	padding-top: 10%;
	font-size: 90px;
	font-family: $headline-font;
	justify-content:center;
}

.hero-subheading {
	font-family: $text-font;
	font-size: 1.5rem;
	justify-content:center;
}

.logo-padding {
	padding-left: 20px;
}

.logo-size {
	max-height: 45px;
	max-width: 45px;
	border-radius: 30px;
}

.menu-container {
	width: 100%;
	font-family: $hand-written;
	padding: 20px 0;
	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		width: 100%;
	}
}

.menu-item {
	display: flex;
	align-items: flex-start;
}

.messenger-pic {
	max-height: 135px;
	max-width: 135px;
}

.signup-card-size {
	max-height: 40vh;
}

.scrolldown-card {
	padding-top: 15%;
	display: flex;
	justify-content: center;
}

.scrolldown-card__size{
	max-height: 20vh;
}

.vertical-space {
	margin: 5% 0;
}

.wrapper {
	height: 95vh;
}

