@import "partials/variables",
		"partials/mixins";

@include google-font('Bowlby+One+SC');
@include google-font('Gloria+Hallelujah');
@include google-font('Raleway');



a {
	text-decoration: underline;
	color: $light-grey;
}

a:visited {
	color: $light-grey;
}

a:hover, a:active {
	color: $black;
}

.benefits {
	font-family: $hand-written;
	font-size: 1rem;
	line-height: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $darker-grey;
}

$grid__bp-md: 1000;
$grid__cols: 12;

.container-n {
	max-width: $grid__bp-md * 1px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	&--fluid {
		margin: 0;
		max-width: 100%;
	}
	&__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;

	}
	@for $i from 1 through $grid__cols {
	&__col-sm-#{$i} {
		flex-basis: ((100/$grid__cols) * $i) * 1%;
		display: flex;
	}
}
	@media screen and (min-width: $grid__bp-md * 1px) {
		@for $i from 1 through $grid__cols {
			&__col-md-#{$i} {
				flex-basis: ((100/$grid__cols) * $i) * 1%;
				display: flex;
			}
		}
	}
}

.cta {
	font-family: $headline-font;
	color: #53585F;
}

.center-vertically {
	margin-top: 20%;
}

hr {
	width:100%; 
	height:1px; 
	color: $light-grey;
	margin-top: 5%;
}

.internal-heading {
	font-size: 1.5rem;
	font-family: $headline-font;
}

.internal-copy {
	font-family: $hand-written;
	font-size: 1.5rem;
	line-height: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $darker-grey;

}

.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}


.footer-pic-size {
	max-height: 60px;
}


.hand-written {
	font-family: $hand-written;
}

.hero {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	// lex-wrap: wrap;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	//align-content: center;

}

.hero-heading {
	padding-top: 10%;
	font-size: 90px;
	font-family: $headline-font;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

.hero-subheading {
	font-family: $text-font;
	font-size: 1.5rem;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

.logo-padding {
	padding-left: 20px;
}

.logo-size {
	max-height: 45px;
	max-width: 45px;
	border-radius: 30px;
}

.menu-container {
	width: 100%;
	font-family: $hand-written;
	padding: 20px 0;
	&__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		width: 100%;
	}
}

.menu-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.messenger-pic {
	max-height: 135px;
	max-width: 135px;
}

.signup-card-size {
	max-height: 40vh;
}

.scrolldown-card {
	padding-top: 15%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.scrolldown-card__size{
	max-height: 20vh;
}

.vertical-space {
	margin: 5% 0;
}

.wrapper {
	height: 100%;
	min-height: 100vh;
}


	@media only screen and (max-width: 500px) {
		.internal-copy, .internal-heading {
			font-size: 2rem;
		}
	}


