@import "partials/variables",
		"partials/mixins";

@include google-font('Bowlby+One+SC');
@include google-font('Gloria+Hallelujah');
@include google-font('Raleway');

@media screen and (max-width: 640px), 
			or and (-webkit-max-device-pixel-ratio:1), 
			or and (max-device-width: 640px) {
	.menu-container {
		display: block;
		display: none;
	} 
}

@media screen and (min-width: 641px), 
			or and (-webkit-max-device-pixel-ratio:1), 
			or and (min-device-width: 640px) {
	.mobile-menu {
		display: block;
		display: none;
	} 
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

a {
	text-decoration: underline;
	color: $light-grey;
}

a:visited {
	color: $light-grey;
}

a:hover, a:active {
	color: $black;
}

.acorn-icon-size {
	max-height: 10vh;
}

.benefits {
	font-family: $hand-written;
	font-size: 1rem;
	line-height: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $darker-grey;
}

$grid__bp-md: 1000;
$grid__cols: 12;

.container-n {
	max-width: $grid__bp-md * 1px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	&--fluid {
		margin: 0;
		max-width: 100%;
	}
	&__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;

	}
	@for $i from 1 through $grid__cols {
	&__col-sm-#{$i} {
		flex-basis: ((100/$grid__cols) * $i) * 1%;
		display: flex;
		}
	}
	@media screen and (min-width: $grid__bp-md * 1px) {
		@for $i from 1 through $grid__cols {
			&__col-md-#{$i} {
				flex-basis: ((100/$grid__cols) * $i) * 1%;
				display: flex;
			}
		.internal-heading {
			font-size: 2.5rem;
		}
		.internal-copy {
			font-size: 1.5rem;
		}

		.menu-item {
			font-size: 1rem;
		}
		}
	}
}

.cta {
	font-family: $headline-font;
	color: #53585F;
}

.center-vertically {
	margin-top: 20%;
}

hr {
	width:100%; 
	height:1px; 
	color: $light-grey;
	margin-top: 5%;
}



.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}


.footer-pic-size {
	max-height: 60px;
}


.hand-written {
	font-family: $hand-written;
}

.hero {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	// lex-wrap: wrap;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;

}

.hero-heading {
	padding-top: 10%;
	font-size: 90px;
	font-family: $headline-font;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

.hero-subheading {
	font-family: $text-font;
	font-size: 1.5rem;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

.internal-heading {
	font-size: 3.5rem;
	font-family: $headline-font;
}

.internal-copy {
	font-family: $hand-written;
	font-size: 3.5rem;
	line-height: 5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $darker-grey;

}

.logo-padding {
	padding-left: 20px;
}

.logo-size {
	max-height: 45px;
	max-width: 45px;
	border-radius: 30px;
}

.menu-container {
	width: 100%;
	//font-family: $hand-written;
	padding: 20px 0;
	&__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		width: 100%;
		}
	}

.menu-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	font-family: $hand-written;
	font-size: 1rem;
}

.messenger-pic {
	max-height: 135px;
	max-width: 135px;
}

.signup-card-size {
	max-height: 40vh;
}

.scrolldown-card {
	padding-top: 15%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.scrolldown-card__size{
	max-height: 20vh;
}

.vertical-space {
	margin: 5% 0;
}

.wrapper {
	height: 100%;
	min-height: 100vh;
}

