<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width">
		<meta name="description" content="Squirrel Attack - a party card game about squirrels and inventions.">
		<meta name="keywords" content="squirrel attack, squirrels attack, squirrel attack game, game about squirrels, squirrel.attack.game,squirrel.attack.games, squirrel game, party game, party games, card game, card games, party card game, party card games, fun game, fun games, fun card game, fun card games">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
		<link rel='shortcut icon' type='image/x-icon' href='{{site.baseurl}}/assets/img/sa-favicon.ico' />
		<script src="https://use.fontawesome.com/157da0daeb.js"></script>
		<title>SQUIRREL ATTACK!</title>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106150401-1"></script>
		<script>
 			 window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments)};
  			gtag('js', new Date());

  			gtag('config', 'UA-106150401-1');
		</script>
		<!-- END OF Global Site Tag - Google Analytics -->


	</head>
	<body>
	<header>
		{% include nav.html %}
	</header>
		
		{{content}}

	<footer>
		{% include footer.html %}
	</footer>
	</body>
</html>
